:root {
    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --very-dark-gray: hsl(0, 0%, 27%);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Spartan", sans-serif;
}

/* ------------------------------main--------------------------------- */

.main {
    display: grid;
    max-width: 1400px; /* lo pide la guide */
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, max-content);
    grid-template-areas:/* declaro las areas dependiendo la preview */
        "main"
        "cta"
        "image1"
        "about"
        "image2";
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 60px 0;
}

.main__hero {
    grid-area: main;
    background-image: url(../images/desktop-image-hero-1.jpg);
    min-height: 500px;
    block-size: cover;
    background-position: center;
}

.main__nav {
    display: flex;
}

.main__links {
    display: none;
}

.main__logo {
    margin: 0 auto;
}

.main__controls {
    grid-area: main; /* declarando su area */
    align-self: end; /* alinearlo al final de la columna */
    justify-self: end; /* alinearlo al final de la fila */

    background-color: var(--black);
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main__control {
    height: 40%;
}

/* ------------------------------cta--------------------------------- */

.main__buy {
    grid-area: cta;
}

.main__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.main__title {
    color: var(--black);
}

.main__paragraph {
    line-height: 1.5;
    margin: 1em 0 2em;
    color: var(--dark-gray);
}

.main__cta {
    text-decoration: none;
    color: var(--very-dark-gray);
    text-transform: uppercase;
    letter-spacing: 5px; /* espacio entre las letras */
}

.main__arrow {
    margin-left: 40px;
}

/* ------------------------------image1--------------------------------- */

.main__bg {
    grid-area: image1;
    min-height: 250px;
    height: 100%;
    background-image: url(../images/image-about-dark.jpg);
    background-size: cover;
    background-position: center;
}

/* ------------------------------about--------------------------------- */

.main__about {
    grid-area: about;
}

.main__paragraph--about {
    /* uso de BEM */
    margin: 1em 0 0 0;
}

/* ------------------------------image2--------------------------------- */

.main__bg--second {
    grid-area: image2;
    background-image: url(../images/image-about-light.jpg);
}

/* ------------------------------RESPONSIVE--------------------------------- */

@media (min-width: 768px) {
    .container {
        width: 85%;
        padding: 70px 0;
    }

    .main {
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas:
            "main main main main cta cta cta"
            "main main main main cta cta cta"
            "main main main main cta cta cta"
            "image1 image1 about about about image2 image2 "
            "image1 image1 about about about image2 image2 ";
    }

    .main__controls {
        grid-area: cta;
        justify-self: start;
    }

    .main__logo {
        margin: 0;
    }

    .main__hamburger {
        display: none;
    }

    .main__links {
        padding: 0;
        display: grid;
        grid-auto-flow: column;
        gap: 1em;
        margin-left: 10%;
    }

    .main__list {
        list-style: none; /* sacar los "items" de la lista */
    }

    .main__link {
        color: var(--white);
        text-decoration: none;
    }
}
